.cbp-mc-form {
    position: relative;
	width: 100%;
	max-width: 1000px;
	margin: 0px auto;
}
 
/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.cbp-mc-form:before,
.cbp-mc-form:after {
    content: " "; display: table;
}
 
.cbp-mc-form:after {
    clear: both;
}
 
.cbp-mc-column {
    width: 45%;
    padding: 10px 15px;
	margin:auto;
}
 
.cbp-mc-form label {
    width: 37%;
	float: left;
	padding: 5px 5px 5px 2px;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}

.cbp-mc-form input,
.cbp-mc-form textarea,
.cbp-mc-form select {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    line-height: 1.5;
    font-size: 1em;
    padding: 5px;
    color: #000;
    display: block;
    width: 55%;
	float: left;
}

fieldset legend {
	color: #004084;
    width: 85%;
	margin-bottom: 10px;
}

fieldset legend.none {
	color: #004084;
    width: 85%;
	margin-bottom: 11px;
	border: none;
}
 
.cbp-mc-form input,
.cbp-mc-form select,
.cbp-mc-form textarea {
    border: 1px solid grey;
}

.cbp-mc-form input[readonly] {
	background:#FFF;
	border: 1px solid grey;
}
 
.cbp-mc-form textarea {
    min-height: 50px;
}
 
.cbp-mc-form input:focus,
.cbp-mc-form select:focus,
.cbp-mc-form textarea:focus,
.cbp-mc-form label:active + input,
.cbp-mc-form label:active + textarea {
    outline: none;
    border: 1px solid #10689a;
}
 
.cbp-mc-form select:focus {
    outline: none;
    border: 1px solid #10689a;
}
 
::-webkit-input-placeholder { /* WebKit browsers */
    color: grey;
    font-style: italic;
}
 
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: grey;
    font-style: italic;
}
 
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: grey;
    font-style: italic;
}
 
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: grey;
    font-style: italic;
}
 
@media screen and (max-width: 70em) {
    .cbp-mc-column {
        width: 45%;
    }
	.cbp-mc-form label {
		width: 27%;
		float: left;
		padding: 5px 5px 5px 2px;
		font-size: 1em;
		text-transform: uppercase;
		letter-spacing: 1px;
		cursor: pointer;
	}
	 
	.cbp-mc-form input,
	.cbp-mc-form textarea,
	.cbp-mc-form select {
		font-family: 'Lato', Calibri, Arial, sans-serif;
		line-height: 1.5;
		font-size: 1em;
		padding: 5px;
		color: #000;
		display: block;
		width: 40%;
		float: left;
	}
}
 
@media screen and (max-width: 48em) {
    
	.cbp-mc-column {
        width: 100%;
        padding: 10px;
    }
	.cbp-mc-form label {
		display: block;
		padding: 5px 5px 5px 2px;
		font-size: 1em;
		text-transform: uppercase;
		letter-spacing: 1px;
		cursor: pointer;
		width: 85%;
	}
	 
	.cbp-mc-form input,
	.cbp-mc-form textarea,
	.cbp-mc-form select {
		font-family: 'Lato', Calibri, Arial, sans-serif;
		line-height: 1.5;
		font-size: 1em;
		padding: 5px;
		color: #000;
		display: block;
		width: 85%;
	}
}
 
.cbp-mc-submit-wrap {
    text-align: center;
    padding-top: 5px;
    clear: both;
}
 
.cbp-mc-form input.cbp-mc-submit {
    background: #10689a;
    border: none;
    color: #fff;
    width: auto;
    cursor: pointer;
    text-transform: uppercase;
    display: inline-block;
    padding: 15px 30px;
    margin: 5px 3px;
    font-size: 1em;
    border-radius: 5px;
    letter-spacing: 2px;
	float: none;
}

.cbp-mc-form input[disabled].cbp-mc-submit {
    background: #CCC;
    border: none;
    color: #000;
    width: auto;
    cursor: pointer;
    text-transform: uppercase;
    display: inline-block;
    padding: 15px 30px;
    margin: 5px 3px;
    font-size: 1em;
    border-radius: 5px;
    letter-spacing: 2px;
	float: none;
}

.cbp-mc-form input.cbp-mc-submit:hover, 
.cbp-mc-form input.cbp-mc-submit:focus {
    background: #A72F5F;
}

.cbp-mc-form input[disabled].cbp-mc-submit:hover, 
.cbp-mc-form input[disabled].cbp-mc-submit:focus {
	background: #CCC;
}

input.error {
	border: dotted 1px red;
}
input[readonly].error {
	border: dotted 1px red;
}
select.error {
	border: dotted 1px red;
}
textarea.error {
	border: dotted 1px red;
}
label.error {
	width: 2px;
	float: left;
	padding: 5px 5px 5px 2px;
    font-size: 1em;
    color: red;
}

#alert_box_ok, #alert_box_error {
	display: none;
	cursor: default;
	text-align: center;
}